@import "normalize.scss";
@import "reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$color-blue: #5290EA;
$color-orange: #F28B64;
$color-gray: #E2E2E2;
$background-gray: #F0F0F0;

* {
	box-sizing: border-box;
}

body {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	position: relative;
}

.main-section {
	position: relative;
	overflow: hidden;
	background: $background-gray;
	min-height: 800px;
	padding-top: 16px;

	&__nav-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		height: 69px;
		align-items: center;
	}

	&__logo {
		width: 134px;
	}

	&__content-container {
		position: relative;
		display: flex;
		flex-direction: row;
	}

	&__first-ellipse {
		position: absolute;
		top: 136px;
		right: 28px;
	}

	&__second-ellipse {
		position: absolute;
		top: 650px;
		right: -120px;
	}
}

.nav-menu {
	&__list {
		display: flex;
		flex-direction: row;
	}
	&__list-item {
		margin-right: 64px;
		font-size: 16px;
	}
	&:last-child {
		margin: 0;
	}
	a {
		text-decoration: none;
		color: black;
		font-weight: 700;
	}
}

.main-section__left-wrapper {
	.left-wrapper {
		position: relative;
		&__img {
			position: relative;
			z-index: 4;
		}
		&__rectangle-blue {
			position: absolute; // Позиционирование
			top: 150px; // Координаты позиционирования
			left: -50px;
			z-index: 2; // Индекс нашего прямоугольника
			transform: rotate(-64deg); // Эта функция задаёт поворот
			width: 565.95px; // Ширина
			height: 220px; // Высота
			background: $color-blue; // Цвет
			border-radius: 100px; // Закругляет края элемента
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); // Тень
		}

		&__rectangle-orange {
			background: $color-orange;
			position: absolute;
			top: 160px;
			left: -30px;
			z-index: 3;
			transform: rotate(-50.81deg);
			width: 618.43px;
			height: 220px;
			border-radius: 100px; // Закругляет края элемента
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); // Тень
		}

		&__rectangle-gray {
			background: $color-gray;
			position: absolute;
			top: 190px;
			left: 10px;
			z-index: 1;
			transform: rotate(-36.15deg);
			width: 608.97px;
			height: 220px;
			border-radius: 100px; // Закругляет края элемента
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); // Тень
		}
	}
}

.main-section__right-wrapper {
	position: absolute;
	z-index: 100;
	width: 372px;
	top: 150px;
	right: 76px;
}


.right-wrapper {
	&__title {
		margin-bottom: 10px;
	}
	&__text {
		margin-bottom: 20px;
	}
	&__icons-box {
		padding-left: 10px;
		margin-bottom: 5px;
	}
	&__title {
		margin-bottom: 5px;
	}
	&__text-title {
		font-size: 16px;
		margin-bottom: 20px;
	}
}

.icons {
	display: inline-flex;
	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 40px;
		width: 40px;
		border: 1px solid black;
		border-radius: 100px;
		margin-right: 17px;
		link {
			color: black;
			text-decoration: none;
			&:hover {
				color: rgba(255, 60, 0, 0.78);
			}
			&:visited {
				color: black;
			}
			&:active {
				color: black;
			}
		}
		i {
			font-size: 21px;
		}
		&:last-child {
			margin: 0;
		}
	}
}

.title {
	font-size: 72px;
	font-weight: bold;
	position: relative;
	&__hr {
		position: absolute;
		width: 65px;
		bottom: 0;
		margin: 0;
		border: none;
		border-top: 1px solid black;
	}
}

.buttons {
 display: inline-flex;
 &__main-btn {
     color: white;
     font-weight: 700;
     background-color: $color-orange;
     width: 200px;
     height: 60px;
     border: none;
     border-radius: 100px;
     margin-right: 32px;
     box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
 }

 &__icon-btn {
     display: inline-flex;
     align-items: center;
     img {
         margin-right: 12px;
     }
 }
}

.ellipse {
    //-- Выравнивание
    display: flex;
    align-items: center;
    justify-content: center;
    //--
    width: 194px;
    height: 194px;
    background: linear-gradient(143.92deg, rgba(237, 123, 80, 0.5) 14.85%, rgba(72, 138, 234, 0.5) 53.25%, rgba(44, 44, 44, 0.5) 85.74%);
    border-radius: 150px;
    &_dig {
        width: 282px;
        height: 282px;
    }
    &__subtract {
        width: 129.33px;
        height: 129.33px;
        border-radius: 150px;
        background-color: #f0f0f0;
    }
    &_big {
        width: 188px;
        height: 188px;
    }
}


.second-section {
    min-height: 700px;
    overflow: hidden;
    &__container {
        position: relative;
        padding-top: 32px;
    }
    &__title {
        margin-bottom: 40px;
    }
    &__cards-box {
        display: flex;
        justify-content: center;
        margin-bottom: 34px;
        &:last-child {
            margin: 0;
        }
    }
    &__cards-item {
        margin-right: 60px;
    }
    &__icons-box {
        display: flex;
        justify-content: space-evenly;
    }
    &__first-ellipse {
        position: absolute;
        z-index: -1;
        top: 73px;
        right: -134px;
    }
    &__second-ellipse {
        position: absolute;
        z-index: -1;
        top: 364px;
        left: -60px;
    }
}

.cards-item {
     position: relative;
     display: flex;
     align-items: flex-end;

     height: 360px;
     width: 360px;
     border-radius: 10px;
     filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
     overflow: hidden;

     &__img {
         height: 355px;
     }

     &__text {
         width: 280px;
         text-align: center;
         font-size: 36px;
         font-weight: bold;
         transform: rotate(90deg);
         position: absolute;
         top: 150px;
         right: -72px;
     }

     &__gray {
         background-color: $color-gray;
     }

     &__orange {
         background-color: $color-orange;
     }

     &__blue {
         background-color: $color-blue;
     }
}

.icons-item {
    display: inline-flex;
    align-items: center;
    &__img {
        height: 80px;
        width: 80px;
        margin-right: 20px;
    }
    &__text{
        span {
            font-size: 48px;
            font-weight: bold;
        }
    }
}


.third-section {
	min-height: 640px;
	background: $background-gray;
	padding-top: 47px;
	position: relative;
	z-index: 0;
	overflow: hidden;
	&__container {
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;
		padding-left: 167px;
	}
	
	&__right-wrapper {
		max-width: 480px;
	}
	
	&__left-wrapper {
		margin-right: 88px;
	}
	
	&__first-ellipse {
		position: absolute;
		z-index: -1;
		top: 80px;
		right: 770px;
	}
	
	&__second-ellipse {
		position: absolute;
		z-index: -1;
		top: 178px;
		right: 909px;
	}
	
	&__third-ellipse {
		position: absolute;
		z-index: -1;
		top: -120px;
		right: -120px;
	}
}
.right-wrapper {
	&__title {
		margin-bottom: 20px;
	}
	
	&__text {
		margin-bottom: 30px;
	}
}


.title__hr_top {
	bottom: 69px;
}

.footer {
    position: relative;
    &__img{
        position: absolute;
        bottom: 0;
        left: -250px;
    }

    &__container{
        min-height: 272px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__title {
        margin-bottom: 20px;
    }
}


@media(max-width: 1199px) { // от 992 до 1200
	.main-section {
		min-height: 690px;
		&__right-wrapper{
			right: 27px;
			top: 113px;
		}
	}
	.container{
		width: 960px;
	}
	
	.left-wrapper {
		&__img {
			width: 750px;
		}
		&__rectangle-blue {
			width: 500px;
			height: 200px;
		}
		&__rectangle-orange {
			width: 394.5px;
			height: 128px;
		}
		&__rectangle-gray{
			width: 500px;
			height: 200px;
		}
		
	}
	
	.main-section__first-ellipse {
		right: -10px;
		top: 113px;
	}
	
	.second-section {
		min-height: 655px;
	}
	
	.cards-item {
		height: 300px;
		width: 300px;
		margin-right: 20px;
		&__img {
			height: 284px;
		}
		&__text {
			font-size: 30px;
			top: 120px;
			right: -79px;
		}
	}
	
	.icons-item {
		&__img {
			margin-right: 10px;
		}
	}
	
	.third-section {
		min-height: 560px;
		&__container {
			padding-left: 40px;
		}
	}
	
	.footer {
		&__title {
			font-size: 68px;
		}
	}
}

@media(max-width: 991px) { // от 768 до 992
	.container {
		width: 720px;
	}

	.main-section{
		min-height: 526px;
		&__first-ellipse{
			right: 14px;
			top: 36px;
		}
		&__second-ellipse {
			top: 430px;
		}
	}
	.ellipse {
		width: 150px;
		height: 150px;
		&__subtract {
			width: 110px;
			height: 110px;
		}
	}
	.ellipse_dig {
		width: 200px;
		height: 200px;
		.ellipse__subtract_big {
			width: 150px;
			height: 150px;
		}
	}

	.left-wrapper {
		position: relative;
		left: 0;
		&__img {
			width: 550px;
		}
		.left-wrapper__rectangle-blue {
			width: 382px;
			height: 148px;
		}
		.left-wrapper__rectangle-orange {
			width: 400px;
			height: 148px;
		}
		.left-wrapper__rectangle-gray {
			width: 372px;
			height: 148px;
		}
	}

	.main-section__right-wrapper {
		width: 250px;
		right: 44px;
		top: 66px;
	}

	.title {
		font-size: 50px;
	}

	.right-wrapper {
		&__text-title {
			width: 280px;
			margin-bottom: 14px;
		}
		.buttons {
			&__main-btn {
				width: 130px;
				height: 53px;
				margin-right: 12px;
				font-size: 14px;
			}
			&__icon-btn {
				font-size: 16px;
			}
		}
	}

	.second-section{
		min-height: 580px;

		&__title{
			margin-bottom: 20px;
		}
		&__cards-item {
			width: 220px;
			height: 220px;
			img {
				height: 205px;
			}
			p {
				font-size: 26px;
				top: 85px;
				right: -95px;
			}
		}
		&__icons-box{
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 20px;
			justify-items: center;
		}
		&__first-ellipse {
			top: 53px;
			right: -52px;
		}
		&__second-ellipse {
			top: 216px;
			left: -83px;
		}
	}

	.third-section{
		min-height: 478px;
		&__container {
			justify-content: flex-start;
			padding-left: 0;
		}
		&__left-wrapper {
			display: none;
		}
		&__right-wrapper {
			margin: 0 auto;
		}
		&__first-ellipse{
			right: 405px;
			top: 212px;
		}
		&__second-ellipse{
			right: 490px;
			top: 299px;
			height: 200px;
			width: 250px;
		}
	}

	.right-wrapper{
		&__text{
			min-width: 515px;
			max-width: 600px;
		}
	}

	.title__hr_top {
		bottom: 50px;
	}

	.footer__title {
		font-size: 40px;
	}
	.title__hr_footer {
		bottom: 39px;
	}
}

@media (max-width: 767px){ // от 576 до 768
    .container {
        width: 540px;
    }

	.main-section {
		&__right-wrapper {
			right: 230px;
			top: 72px;
		}
	}

	.left-wrapper {
		left: 183px;
		top: 6px;
		img {
			display: none;
		}
	}

	.nav-menu { //!
		display: block;
		position: fixed;
		z-index: 1000;
		top: 0;
		right: -100%; // Скроем блок за границу экрана
		width: 50%;
		height: 100vh; //! 100% от экрана телефона
		background: $color-gray;

		transition: 1s all; //!
		&__list {
			padding-top: 30%;
			height: 100%;
			flex-direction: column;

			align-items: center;
			&-item {
				font-size: 30px;
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
	}
	.hamburger {
		position: absolute;
		z-index: 1001;
		top: 38px;
		right: 42px;
		width: 30px;
		// Нужно задать высоту блоку, чтобы он был кликабельный
		height: 14px;
		span {
			display: block;
			background: black;
			height: 2px;
			width: 100%;
			margin-bottom: 4px;
			// Это время перехода анимации (переход в крестик)
			transition: 1s all;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	// Этот класс нужен для JS. В сам гамбургер не вставляем
	.hamburger_active {
		span {
			margin-bottom: -2px;
			&:nth-child(1) {
				// транслейт просто сдвигает элемент
				transform: translateY(3px) rotate(-45deg);
			}
			&:nth-child(2) {
				display: none;
			}
			&:nth-child(3) {
				transform: translateY(3px) rotate(45deg);
			}
		}
	}
	.nav-menu_active { //!
		right: 0;
	}

	.second-section {
		&__cards-box {
			flex-direction: column;
			justify-items: center;
			align-items: center;
		}
		&__cards-item {
			margin-right: 0;
			margin-bottom: 30px;
			width: 350px;
			height: 350px;

			p {
				font-size: 36px;
				top: 140px;
				right: -65px;
			}
			img {
				height: 330px;
			}
		}
	}

	.footer__img {
		left: -230px;
		height: 197px;
	}
}

@media (max-width: 575px){ // 320 to 575
    .container{
        width: 100%;
    }

	.nav-menu__list {
		padding-top: 80px;
		&-item {
			margin-bottom: 40px;
		}
	}

	.title {
		text-align: center;
	}

	.main-section {
		&__content-container {
			display: flex;
			justify-content: center;
			justify-items: center;
			align-items: center;
			align-content: center;


		}
		&__left-wrapper {
			display: none;
		}
		&__right-wrapper {
			right: 68px;
		}
	}

	.right-wrapper__text {
		min-width: 230px;
		max-width: 270px;
	}

	.second-section {
		min-height: 1450px;
		&__cards-item {
			width: 250px;
			height: 250px;

			p {
				font-size: 30px;
				top: 98px;
				right: -84px;
			}
			img {
				height: 243px;
			}
		}
		&__icons-box {
			grid-template-columns: 1fr;
			grid-gap: 40px;
		}
	}

	.third-section {
		min-height: 623px;
	}

	.footer {
		&__container {
			min-height: 402px;
			margin: 0;
			padding: 0;
			position: relative;
		}
		&__title {
			position: absolute;
			top: 10px;
			right: 10px;
		}
		&__icons-box {
			position: absolute;
			top: 145px;
			right: 64px;
		}
	}
	.title__hr {
		display: none;
	}
}

